<!DOCTYPE html>
<html>
<head>

	
	 <%= stylesheet_link_tag 'store/styles','store/contact', 'store/prettyPhoto', 'store/shortcodes','store/superfish','store/widgets','store/anything-slider' %>   
	
	<!-- Initialise jQuery Library -->      
  <%= javascript_include_tag 'store/front' %>
  <%= javascript_include_tag "application.js" %>
  <%= javascript_include_tag "soundpop.js" %>
  <%= javascript_include_tag "effects", "prototype" %>
   
 <%= csrf_meta_tags %>
	
	
	<style type="text/css">
	   	/*link to the main CSS file */
.style18 {font-size: 65px}
    .style24 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
}
    .style26 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; }
    </style>
    
	<title>Revive Book Shop | Home Page</title>

	


	
	
<meta charset="UTF-8"></head>    

<body>
   
<!--/ top_full-->
		<div id="header-top">
           <div class="container_12">
			<div class="logo">
                <a href="/"><strong>Revive! </strong><span>BookShop</span></a>			</div>
<!--/ logo-->
					<div class="nav-menu">
                       <ul class="sf-menu">
                      	<li class="current-menu-item"><a href="/">Home Page</a>
                        	
                        </li>
                                                <li><a href="/about">About</a></li>

                      <li><a href="/home">Buy eBooks</a></li>
                        <li><a href="/reading_app">Free eReading App</a></li>
                    
                        <li><a href="/video_reviews">Video Reviews</a>
                         </li>
                      	<li><a href="/authors">Authors</a>
                         </li>
                      </ul>
                    </div><!--/ nav-->
             </div><!--/ container_12--> 
		</div><!--/ header-->
		
		
       <div id="slider" class="sample_01 pattern_01">
        <div class="slider-top">
      	<div class="slider-bottom">
       <!-- Begin Slider -->
       	<div class="anythingSlider">     	
			<ul id="slider3">
				
				<li>
                  <div class="txt_slide_left">
               	    <h2><span class="style18">Revive! BookShop </span></h2>
               	    <br>
                      <span class="style24">Love to Read ?</span>
                      <br><br>


                      <span class="style26">Looking forward to reading the latest Christian books?<br>
                      </span><br>
                      <span class="style26">Then… click <a href="about.html">Here</a> to visit REVIVE! Bookshop NOW!</span>

                       <a href="about.html" class="btn_gal"></a>                  </div>
                  <div class="slide_pic_right"><img src="
	/assets/store/slider/slide1.png" width="420" height="344" alt="" /></div>
				</li>
                
              <li>
                  <div class="txt_slide_left">
               	    <h2><span class="style18">Revive! BookShop </span></h2>
               	    <br>
                      <span class="style24">Can’t get your favourite Christian books at your local bookshop?</span>
                      <br><br>


                      <span class="style26">Then… click <a href="about.html">Here</a> to visit REVIVE! Bookshop NOW!</span>

                       <a href="about.html" class="btn_gal"></a>                  </div>
                  <div class="slide_pic_right"><img src="/assets/store/slider/slide2.png" width="420" height="344" alt="" /></div>
			  </li>

<li>
                  <div class="txt_slide_left">
               	    <h2><span class="style18">Revive! BookShop</span></h2>
               	    <br>
                      <span class="style24">Don’t have time to pass by the bookstore and search for the latest Christian Books? </span>
                      <br><br>


                      <span class="style26">Then… click <a href="about.html">Here</a> to visit REVIVE! Bookshop NOW!</span>

                       <a href="about.html" class="btn_gal"></a>                  </div>
                  <div class="slide_pic_right"><img src="/assets/store/slider/slide3.png" width="420" height="344" alt="" /></div>
			  </li>


<li>
                  <div class="txt_slide_left">
               	    <h2><span class="style18">Revive! BookShop </span></h2>
               	    <br>
                      <span class="style24">Tired of waiting for that brand new, best-selling, paperback?</span>
                      <br>
                  <br>


                      <span class="style26">Then… click <a href="about.html">Here</a> to visit REVIVE! Bookshop NOW!</span>

                       <a href="about.html" class="btn_gal"></a>                  </div>
                  <div class="slide_pic_right"><img src="/assets/store/slider/slide4.png" width="420" height="344" alt="" /></div>
			  </li>


<li>
            <div class="txt_slide_left">
               	    <h2><span class="style18">Revive! BookShop </span></h2>
               	    <br>
                      <span class="style24">Download some of our Free Christian eBooks, or Buy from our wide catalogue of Christian eBooks..</span>
                      <br><br>


                      <span class="style26">ENJOY reading them on your PC, Smartphone or Tablet!</span>

                       <a href="about.html" class="btn_gal"></a>                  </div>
                  <div class="slide_pic_right"><img src="/assets/store/slider/slide5.png" width="420" height="344" alt="" /></div>
			  </li>
                
			</ul>
          </div>  
       </div><!--/slider-top-->
           </div><!--/slider-bottom-->
       </div><!--/ slider-->   
	   <!-- End Slider -->
    <div class="full-content">
      <!--/ container_11-->
      <!--/ sidebar-footer-->
    <div id="footer_full"></div>
    <!--/ footer_full-->
   </div><!--/ full-content-->


</body>
</html>


